@import 'mixins';
@import 'variables';

.dropdown {
  font-size: 14px;
  width: 100%;

  .dropdownMenu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -1px;
    border-color: $btn-primary-color;
    border-top-color: transparent;
    box-shadow: 0 3px 2px rgba(0, 0, 0, .05);
    padding: 0;
    > li > a {
      padding: 7px 10px;
    }
    > li:nth-child(even) {
      background-color: $bg-color-dark;
    }
  }

  &[class*=open] {
    :global {
      .dropdown-toggle.btn.btn-default {
        border-color: $btn-primary-color;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-color: transparent !important;
        box-shadow: 0 0 2px rgba(0, 0, 0, .05);
      }
      .caret {
        border-top: none;
        border-bottom: 6px dashed;
      }
    }
  }
}

.dropdownToggle {
  width: 100%;
  border: 1px solid $btn-primary-hover-color;
  padding-right: 30px !important;
  padding-left: 10px !important;

  &:hover, &:focus {
    background-color: transparent;
    color: $btn-primary-color;
  }

  :global {
    .caret {
      @include vcenter;
      right: 10px;
      color: $btn-primary-color;
      border-top: 6px dashed;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }
  }
}

.dropdownMenu {
  width: 100%;
  overflow: hidden;
  > li > a {
    font-weight: 300;
    &:hover, &:focus {
      background-color: $brand-primary;
      color: white;
    }
  }
  :global {
    .active {
      > a,
      > a:focus,
      > a:hover {
        background-color: $brand-primary;
      }
    }
    .divider {
      margin: 0;
    }
  }
}

.selectedValue {
  display: block;
  overflow: hidden;
  text-align: left;
}
