.btn {
  padding: 6px $boxPadding;
  font-weight: $fontWeightBold;
  letter-spacing: .25px;
  outline: none !important;
  border-radius: $borderRadius;

  &.btn-primary {
    background-color: $btn-primary-color;
    border-color: $btn-primary-color;
    &:hover, &:focus {
      background-color: $btn-primary-hover-color;
      border-color: $btn-primary-hover-color;
    }
  }

  &.btn-default {
    border-color: $btn-primary-color;
    color: $btn-primary-color;
    background-color: transparent;
    &:hover, &:active:focus, &.active {
      border-color: $btn-primary-color;
      color: $brand-primary-contrast;
      background-color: $btn-primary-color;
    }
    &.active:not(:active) {
      box-shadow: none;
    }
  }

  &.btn-danger {
    background-color: $brand-danger;
    border-color: $brand-danger;
  }

  &[disabled], &.disabled {
    &, &:hover {
      border-color: $border-color;
      background-color: $btn-disabled-color;
      color: $btn-disabled-text-color;
    }
  }
}

.btn-small, .btn-sm {
  padding: 5px 12px;
}

.btn-xs, .btn-xsmall {
  padding: 2px 7px;
}

.btn-lg, .btn-large {
  padding: 10px 18px;
}

.btn-xl, .btn-xlarge-thin {
  padding: 6px 40px;
}

.btn-link {
  color: $brand-primary;
  &:hover, &:focus {
    color: $link-hover-color;
  }
}

.dropdown.btn-group {
  max-width: 100%;
}

.dropdown-toggle{
  >span:first-of-type {
    overflow: hidden;
    text-align: left;
  }
  >span:last-of-type>span:first-of-type {
    white-space: pre;
  }
}

// Custom bsStyle

@mixin btn-custom-common {
  color: $text-color;
  border: 1px solid $border-color;
  background-color: transparent;
  transition: color .15s, border-color .15s, background-color .15s;

  &:hover, &:focus {
    color: $brand-primary;
    border-color: $brand-primary;
    background-color: transparent;
  }

  &:active {
    color: $brand-primary-contrast;
    background-color: $brand-primary;
    border-color: $brand-primary;
  }

  &:active:focus {
    box-shadow: none;
    background-color: $brand-primary;
    color: $brand-primary-contrast;
    border-color: $brand-primary;
  }

  &.btn-danger {
    &:hover, &:focus {
      border-color: $brand-danger;
      color: $brand-danger;
    }
    &:active {
      background-color: $brand-danger;
      border-color: $brand-danger;
      color: $brand-primary-contrast;
    }
    &:active:focus {
      background-color: $brand-danger;
      border-color: $brand-danger;
      color: $brand-primary-contrast;
    }
  }
}

.btn-round {
  // Begin Overridables, size related section.
  line-height: 13px;
  font-size: $fontSizeSmall;
  padding: 10px 15px;
  // End Overridables
  @include border-radius(999px);

  text-transform: uppercase;
  font-weight: 600;
  vertical-align: middle;
  @include btn-custom-common;
}

.btn-round-success {
  @extend .btn-round;
  color: $brand-primary;
}

.btn-circle {
  // Begin Overridables, size related section.
  width: 34px;
  height: 34px;
  padding: 0;
  // End Overridables
  @include border-radius(50%);
  @include btn-custom-common;
  &.btn-sm {
    width: 21.5px;
    height: 21.5px;
  }
  &.btn-xs {
    width: 16px;
    height: 16px;
    line-height: 13px;
    font-size: 14px;
  }
}

.btn-circle-success {
  @extend .btn-circle;
  color: $brand-primary;
}

.btn-group-circle.open .dropdown-toggle {
  color: $brand-primary;
  border-color: $brand-primary;
  background-color: transparent;
  box-shadow: none;
}

.btn-wide {
  @extend .btn-default;
  padding-left: 50px;
  padding-right: 50px;
}

.btn-thick-outline {
  border: 2px solid $btn-primary-color;
  background-color: transparent;
  font-weight: 600;
  padding: 12px 20px;
  &, &:focus {
    color: $btn-primary-color;
  }
  &:hover, &:active:focus {
    background-color: $btn-primary-color;
    color: $brand-primary-contrast;
  }
  &[disabled], &.disabled {
    &, &:hover {
      background-color: $btn-disabled-color;
      border-color: $btn-primary-color;
      box-shadow: none;
      color: $btn-primary-color;
    }
  }
}
