.dropdown-toggle {
  &.btn.btn-default{
    &:hover, &:focus {
      background-color: transparent;
      color: $btn-primary-color;
    }
  }
}

.dropdown-menu {
  > .active {
    > a,
    > a:focus,
    > a:hover {
      background-color: $brand-primary;
    }
  }
}
