.form-control {
  padding-left: $boxPadding;
  padding-right: $boxPadding;
  box-shadow: none;
  border-radius: $borderRadius;
  border-color: $input-border-color;
  font-size: $fontSizeBase;
  color: $text-color;
}

.form-control-static {
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-group {
  margin-bottom: $boxMargin;
}

.input-group > .form-control:first-child {
  border-right: none;
}

.input-group-addon {
  padding-left: 0;
  border-color: $input-border-color;
  border-radius: $borderRadius;
  background-color: $bg-color;
  color: $text-light-color;
}

.form-control:focus, .form-group:focus .input-group-addon {
  box-shadow: none;
  border-color: $brand-primary;
  outline: none;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  pointer-events: none;
  background-color: $bg-color-dark;
}
