.control-label {
  margin-bottom: $boxMarginSmall;
  line-height: $fontSizeSmall + 1;
  font-size: $fontSizeSmall;
  font-weight: normal;
  text-transform: uppercase;
}

.form-horizontal .control-label {
  padding-top: floor(($inputHeight - $fontSizeSmall - 1) / 2);
}
