$backdrop-bg-start: #404b43;
$backdrop-bg-end: #111812;

.modal-content {
  box-shadow: 0 0 40px 4px $backdrop-bg-end;
}

.modal-backdrop {
  @include background-radial($backdrop-bg-start, 0%, $backdrop-bg-end, 100%);
}

.modal-backdrop.in {
  opacity: 0.66;
}


.modal-header {
  padding-left: $boxMarginExtra;
  padding-right: $boxMarginExtra;
  border-color: $border-color;
  .close {
    font-size: $fontSizeLarge;
  }
}

.modal-title {
  color: $brand-primary;
  font-size: $fontSizeLarge;
  @include box-shadow-custom(inset 0 2px 2px 0 rgba(255, 255, 255, .25));
}

.modal-body {
  padding: $boxMarginExtra;
}

.modal-footer {
  border-color: $border-color;
  text-align: center;
}

.modal-open {
  padding-right: 0 !important;
}

[role=dialog] {
  position: fixed;
  z-index: 1050;
}
