.panel {
  border-radius: $borderRadius;
  border: 1px solid $border-color;
}

.panel-heading {
  padding: 15px;
  border-bottom: 1px solid $border-color;
}

.panel-default {
  .panel-heading {
    background-color: transparent;
  }
}

.panel-title {
  font-size: inherit;
}
