@import 'variables';
@import 'mixins';

$signaturePadHeight: 150px;

.signatureBoard {
  border: 1px solid $border-color;
  padding: $boxMargin;
}

.signatureWrapper {
  position: relative;
  &:before {
    border-bottom: 2px solid $text-dark-color;
    content: '';
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: $boxMargin;
  }
}

.placeholder {
  font-size: 150px;
  line-height: 1;
  color: $text-light-color;
  font-style: italic;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  img {
    height: 100%;
    max-width: auto;
  }
}

.row {
  display: table;
  table-layout: fixed;
  width: calc(100% + #{$boxPadding * 2});
}

.col {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

:global {
  .m-signature-pad {
    position: relative;
    height: $signaturePadHeight;
  }
  .m-signature-pad--body {
    width: 100%;
    canvas {
      display: block;
      cursor: default !important;
      @include user-select(none);
    }
  }
}
