@import 'mixins';
@import 'variables';

.headingActions {
  padding-top: 2px;
  display: inline-block;
}

.headingActions + .headingActions {
  padding-left: 10px;
}

.btnHeading {
  padding: 5px 15px;
  min-width: 75px;
  height: 35px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.allocationPanel {
  [class*=panel-body] {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.sidebarWrapper {
  padding: 0;
  @include media('>=sm') {
    border-right: 1px solid $border-color;
    margin-right: -1px;
  }
}

.sidebarControl {
  margin-bottom: 18px;
}

.sidebarControlTitle {
  padding: 0;
  margin-bottom: 15px;
  font-size: 11px;
  color: $text-dark-color;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.main {
  padding: $boxMargin;
}

.settingsRow {
  margin-right: -16px;
}

.settingsRow > [class*=col-] {
  @include media('>=sm') {
    &:not(:last-child) {
      border-right: 1px solid $border-color;
    }
  }
}

.tooltip {
  color: $text-light-color;
  margin-left: 5px;
  cursor: pointer;
}

.stretchBox {
  margin-top: -$boxMargin;
  margin-left: -$boxMargin;
  margin-right: -$boxMargin;
}
