@import 'variables';

.panel {
  overflow: hidden;
  &:not(:last-child) {
    margin-bottom: $boxMargin;
  }
  :global {
    .panel-heading {
      padding: $boxPadding $boxPaddingMedium !important;
      padding-left: $boxMargin !important;
    }
    .panel-body {
      margin-top: 0 !important;
      padding: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}

.header {
  font-weight: 300;
}
