@import 'variables';

$footerRowHeight:   50px;
.row {
  border-top: 1px solid $border-color;
  padding: 5px $boxMargin;
}
.customrow {
  position: relative;
  display: table;
  table-layout: fixed;
  width: calc(100% + #{$boxPadding * 2});
}
.taxinputlabel {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.taxinput {
  display: table-cell;
  vertical-align: middle;
  float: none;
  padding: 0px 3px;
}
.taxtext {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
.taxchkbox {
  float: left;
  max-width: 30px;
}
.taxboxlabel {
  float: left;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  max-width: calc(100% - 30px);
}
.slider {
  margin-top: $boxMargin;
  margin-right: 3px;

  :global .rc-slider-track {
    background: none;
  }
}
