@import 'mixins';
@import 'variables';

.submitWrapper {
  margin-top: $boxMargin;
  border-top: 2px solid $border-color;
  padding-top: $boxMargin;
  text-align: right;
}

.notes {
  padding: $boxMarginSmall;
  background-color: rgba(0, 0, 0, .03);
  border-radius: $borderRadius;
  text-align: center;
}
