@import 'mixins';
@import 'variables';

.notification {
  padding: $boxPadding $boxPaddingMedium;
  color: $text-color;
  margin-bottom: $boxMargin;
}

.fulFilled {
  background: $brand-success-light;
}

.rejected {
  background: $brand-danger-light;
}

.errorsList {
  &, ul {
    margin: 0;
    padding-left: $boxPadding;
    list-style: none;
  }
}

.s {
  margin-left: $boxPadding;
}

.actionsList {
  float: right;
}

.action {
  color: $text-color;

  &:hover, &:focus {
    color: darken($text-color, 15%);
  }
}

.action.spin > svg {
  animation: spin 2s infinite linear;
}

.timestamp {
  opacity: 0.5;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
