@import 'variables';

.socialSecurityStatementUpload {
  > div + div {
    padding-left: 0;
  }
}

.panel {
  border-width: 2px;
  border-style: dashed;
  border-color: $brand-primary;
  color: $brand-primary;
  position: relative;
  overflow: hidden;
}

.panel.hasFile {
  background-color: $brand-primary;
  color: $brand-primary-contrast;
}

.dropzone {
  width: auto;
  height: auto;
  border: none;
  cursor: pointer;
}

.isUploading:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: $borderRadius - 2;
  background: rgba(255, 255, 255, .5);
}

.filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.iconButton {
  padding-left: 6px;
  padding-right: 6px;
}

.spin {
  animation: uploadSpin 2s infinite linear;
}

@-moz-keyframes uploadSpin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes uploadSpin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes uploadSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
