@import 'variables';

// Font sizes
.small {
  font-size: $fontSizeSmall;
}

.normal {
  font-size: $fontSizeBase;
}

.medium {
  font-size: $fontSizeMedium;
}

.large {
  font-size: $fontSizeLarge;
}

.xlarge {
  font-size: $fontSizeEXtraLarge;
}

// Font colors
.light {
  color: $text-light-color;
}

.primary {
  color: $brand-primary;
}

// Font styles
.bold {
  font-weight: $fontWeightBold;
}
