@import 'mixins';
@import 'variables';

.userActions {
  :global {
    .open button {
      background-color: rgba(255, 255, 255, .2) !important;
    }
  }
}

.welcomeWrapper {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  vertical-align: middle;
}

.welcomeText {
  color: $gray-0;
}

.dropdownToggle {
  float: none !important;
  color: $gray-0 !important;
  background-color: transparent !important;
  border: none !important;
  padding: 5px;
  border-radius: 0;

  &:hover {
    outline: none;
    color: $gray-0 !important;
  }

  &:focus:active {
    background-color: transparent !important;
  }
}

.dropdown {
  min-width: 258px;
  background-color: $bg-color;
  padding: 0;

  :global {
    li:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }

    li a, li .btn {
      color: $text-dark-color;
    }

    .active a, .active .btn {
      color: $brand-primary-contrast;
    }
  }
}

.row {
  height: 65px;

  > [class^="col-"] {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

.row > [class^="col-"] > *, .halfMenuItem > span, .halfMenuItem > a > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.halfMenuItem {
  padding: 0;
  border-bottom: none !important;
}

.halfMenuItem + .halfMenuItem {
  border-left: 1px solid $border-color;
}

.halfMenuItem > span, .halfMenuItem > a > span {
  padding: $boxPadding 0;
  align-items: center;
  border: none;
}
