@import 'variables';

.question {
  padding-top: $boxPadding;
  padding-bottom: $boxPadding;
  cursor: pointer;
  text-align: center;
  border: 1px solid $border-color;

  &:hover {
    color: $brand-primary;
  }
}

.question + .question {
  border-left: none;
}

.category {
  margin-bottom: $boxPadding / 2;
  display: block;
}

.title {
  padding-left: $boxPadding / 2;
}
