.quovoFrame {
  :global(.modal-dialog) {
    width: 80%;
    height: 80%;
  }

  :global(.modal-content) {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }
}

.frameWrapper {
  padding-bottom: 100%;
}
