@import 'variables';

.modal {
  width: 810px;
}

.header {
  background-color: $brand-primary;
  text-align: center;
  height: 110px !important;
  position: relative;
}

.title {
  color: white !important;
  box-shadow: none !important;
}

.checkIconWrapper {
  position: absolute;
  left: 0;
  right: 0;
}

.checkIcon {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 43px;
  border: 2px solid $gray-0;
  border-radius: 50%;
  color: $gray-0;
  background-color: $brand-primary;
}

.body {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 30px;
  color: $text-dark-color;
  line-height: 1.4em;
}

.subtitle {
  font-weight: 700;
  font-size: 12px;
  color: $text-dark-color;
}

.listItem {
  margin-right: 30px;
}

.listItemValue {
  font-size: 24px;
  margin-top: 6px;
  color: $text-dark-color;
}

.bodyList {
  padding: 0;
  margin: 20px 0 0 20px;
  li {
    list-style-type: disc;
    font-size: 14px;
    line-height: 1.5em;
  }
}

.bodyListTitle {
  font-size: 14px;
  list-style-type: none !important;
  margin-bottom: 3px;
  margin-left: -19px;
}

.footer {
  border: 0;
}

.footerBtn {
  padding-left: 40px;
  padding-right: 40px;
}
