@import 'mixins';
@import 'variables';

.wrapper {
  position: relative;
  padding: $boxMargin;
  margin: $boxMargin 0;
  background-color: $bg-color-dark;
  border-radius: $borderRadius;

  &:hover {
    .actionRight {
      opacity: 1;
    }
  }
}

.disabledOverlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .66);
}

.isDragging {
  opacity: 0;
}

.dragHandle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(1.5);
  padding: 1px 2px;
  cursor: grab;
  text-align: center;
  opacity: 0.5;
  color: $text-light-color;
  transition: opacity .1s;

  &:hover {
    opacity: 1;
  }
}

.balanceRow {
  margin-top: $boxMargin;
}

.accountName {
  display: block;
  margin: -12px 0 12px 0;
}
