@import 'variables';

.itemDetails {
  padding: 0 !important;
  background-color: $bg-color-dark;

  :global(.table) {
    width: 100%;
    table-layout: fixed;
    margin: 0;
    background-color: transparent;
  }

  table > tbody {
    background-color: transparent;
  }

  table > tbody > tr > td {
    padding: $boxPadding $boxMargin;
    border-top: 1px solid $bg-color;

    &:first-child {
      padding-left: 35px;
    }

    &:not(:last-child) {
      border-right: 1px solid $border-color;
    }
  }
}

.allocated {
  text-align: center;
}

.value {
  text-align: right;
}
