@import 'mixins';
@import 'variables';

.switch {
  display: inline-block;
}
.toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  @include user-select(none);
  padding: 2px;
  width: 40px;
  height: 20px;
  background-color: $gray-75;
  margin-bottom: 0;
  border-radius: 60px;
}

.toggle + label:before, .toggle + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: '';
}

.toggle + label:before {
  right: 1px;
  background-color: $gray-50;
  border-radius: 60px;
  transition: background 0.1s;
}

.toggle + label:after {
  width: 18px;
  background-color: $gray-0;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.1s;
}

.toggle:checked + label:before {
  background-color: $btn-primary-color;
}

.toggle:checked + label:after {
  margin-left: 20px;
}
