@import 'mixins';
@import 'variables';

$arrowHeight: 23px;
$arrowWidth: 12px;
$arrowTransition: left 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
$lifestyleFormGroupPaddingLeft: 2px;
$lifestyleButtonHeight: 80px;

.retirementLifestyle :global(.form-group) {
  margin-bottom: $boxMargin;
}

.lifestyleFormGroup {
  padding-left: $lifestyleFormGroupPaddingLeft;
  margin-bottom: $boxMarginExtra !important;
}

.lifestyleButtonGroup {
  margin-top: $boxMargin;
  display: block;
  @include clearfix();
}

.lifestyleButton {
  height: $lifestyleButtonHeight;
  width: calc(25% - 1px);
  border: none;
  color: $brand-primary-contrast !important;
  font-weight: 700;
}

.lifestyleButton + .lifestyleButton {
  margin-left: 1px !important;
}

.lifestyleButtonGroup :global(.active:after) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  border-radius: $borderRadius;
  background: $brand-primary;
  opacity: 0.6;
}

.lifestyleBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 0% 50%;
  filter: brightness(0.7);
}

.lifestyleButton:hover .lifestyleBg {
  filter: brightness(0.9);
  transition: 500ms filter linear;
}

.lifestyleButtonGroup :global(.active) .lifestyleBg {
  filter: brightness(0.7);
  transition: none;
}

.lifestyleContent {
  position: relative;
  z-index: 2;
}

.lifestyleText {
  margin-top: 2px;
}

.lifestyleButton:first-child .lifestyleBg {
  border-top-left-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;
}

.lifestyleButton:last-child .lifestyleBg {
  border-top-right-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
}

.lifestyleButton.doingWell > .lifestyleBg {
  background-position: 0% 100%;
}

.panel {
  position: relative;
  margin-top: -7px;

  &:before {
    position: absolute;
    top: -$arrowHeight;
    left: -9000px;
    display: inline-block;
    border-right: $arrowWidth solid transparent;
    border-bottom: $arrowHeight solid $border-color;
    border-left: $arrowWidth solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
    transition: $arrowTransition;
  }

  &:after {
    position: absolute;
    top: -($arrowHeight - 1);
    left: -9000px;
    display: inline-block;
    border-right: ($arrowWidth - 1) solid transparent;
    border-bottom: ($arrowHeight - 1) solid white;
    border-left: ($arrowWidth - 1) solid transparent;
    content: '';
    transition: $arrowTransition;
  }

  :global(.panel-body) {
    margin: 0;
    padding: 0 $boxMargin !important;
  }
}

.panel.doingOk {
  &:before {
    left: calc(12.5% - #{$arrowWidth});
  }
  &:after {
    left: calc(12.5% - #{$arrowWidth} + 1px);
  }
}

.panel.comfortable {
  &:before {
    left: calc(37.5% - #{$arrowWidth});
  }
  &:after {
    left: calc(37.5% - #{$arrowWidth} + 1px);
  }
}

.panel.doingWell {
  &:before {
    left: calc(62.5% - #{$arrowWidth});
  }
  &:after {
    left: calc(62.5% - #{$arrowWidth} + 1px);
  }
}

.panel.luxury {
  &:before {
    left: calc(87.5% - #{$arrowWidth});
  }
  &:after {
    left: calc(87.5% - #{$arrowWidth} + 1px);
  }
}

.panelColumn {
  padding-top: $boxMargin;
  padding-bottom: $boxMargin;
}

.panelColumn:first-child {
  margin-right: -1px;
  border-right: 1px solid $border-color;
}

.panelColumn:last-child {
  border-left: 1px solid $border-color;
}

.lifestyleAspect {
  @include clearfix;
}

.lifestyleAspect + .lifestyleAspect {
  margin-top: $boxMarginSmall;
}

.lifestyleAspectIcon {
  float: left;
  margin-right: $boxMargin;
  margin-top: 2px;
}

.lifestyleAspectDetails {
  margin-left: $boxMargin + $fontSizeLarge;
  line-height: 1;
}

.lifestyleAspectLabel {
  font-weight: 500;
}

.replacementRatioFormGroup {
  margin-bottom: $boxMarginSmall !important;
}

.replacementRatioLabel {
  margin-bottom: 0;
}
