@import 'variables';

.drift {
  margin-top: $boxMarginSmall;

  &, > div, > div > div:nth-child(2) {
    width: 100%;
  }

  > div > div:nth-child(2) {
    vertical-align: middle;
  }
}

.driftBar {
  margin-bottom: 0;
}
