@import 'variables';

.downloadAdobeReader {
  float: left;
  font-size: $fontSizeSmall;
  color: $text-light-color;
}

.downloadActivity {
  float: right;
  text-align: right;
  cursor: pointer;
}

.downloadActivityLink {
  color: $text-color;
  &:hover {
    color: $brand-primary;
  }
}

.downloadActivityText {
  margin-left: 5px;
}
