@import 'mixins';
@import 'variables';

.table {
  @include table-columns(20%, 20%, 35%, 12%, 13%);
  border: none;

  tr > td:first-child, tr > th:first-child {
    border-left: none;
  }

  tr > td:last-child, tr > th:last-child {
    border-right: none;
  }

  thead {
    color: $brand-primary;
    font-size: 14px;
    border-bottom: 1px solid $brand-primary;
  }

  th {
    font-weight: 500;
  }

  th, td {
    padding: 8px;
  }

  tbody {
    font-size: 16px;
    color: $text-dark-color;
    tr {
      border-bottom: 1px solid $border-color;
    }
  }

  tbody tr td:first-child, thead tr th:first-child {
    padding-left: 2.5% !important;
  }
}

.lastColumn {
  padding-right: 1.5% !important;
}
