@import 'mixins';
@import 'variables';

$duration: 0.55s;

// Normal size
$normalSpinnerWidth: 200px;
$normalWidth: 65px;
$normalBorderWidth: 6px;

// Small size
$smallSpinnerWidth: 60px;
$smallWidth: 20px;
$smallBorderWidth: 2px;

.spinner {
  position: relative;
  margin: 0px auto;
  text-align: center;

  &:before {
    content: '';
    display: block;
  }

  &:after {
    content: '';
    display: block;
  }
}

.icon {
  @include clearfix;
}

.content {
  padding: $boxPadding 0;
}

.rail, .trace {
  border-style: solid;
  border-radius: 50%;
}

.rail {
  position: absolute;
  left: 50%;
  border-color: $gray-75;
}

.trace {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  border-color: $brand-primary transparent transparent $brand-primary;
  animation: spin $duration infinite linear;
}

// Size variations
.spinner.normal {
  width: $normalSpinnerWidth;

  &:before {
    padding-top: $normalWidth;
  }

  &:after {
    padding-bottom: $normalWidth;
  }

  .rail, .trace {
    width: $normalWidth;
    height: $normalWidth;
    border-width: $normalBorderWidth;
  }

  .rail {
    margin-left: - $normalWidth / 2;
  }
}

.spinner.small {
  width: $smallSpinnerWidth;

  &:before {
    padding-top: $smallWidth;
  }

  &:after {
    padding-bottom: $smallWidth;
  }

  .rail, .trace {
    width: $smallWidth;
    height: $smallWidth;
    border-width: $smallBorderWidth;
  }

  .rail {
    margin-left: - $smallWidth / 2;
  }
}


@-webkit-keyframes spin {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes spin {
  from {-moz-transform: rotate(0deg);}
  to   {-moz-transform: rotate(359deg);}
}

@-o-keyframes spin {
  from {-o-transform: rotate(0deg);}
  to   {-o-transform: rotate(359deg);}
}

@keyframes spin{
  from {transform: rotate(0deg);}
  to   {transform: rotate(359deg);}
}
