@import 'variables';

.select {
  :global {
    .Select-control, .Select-menu-outer {
      border-color: $brand-primary !important;
      box-shadow: none !important;
    }

    .Select-control {
      height: $inputHeight;
      border-radius: $borderRadius;
    }

    .Select-input {
      height: $inputHeight - 2px;
    }

    .Select-menu-outer {
      border-bottom-right-radius: $borderRadius;
      border-bottom-left-radius: $borderRadius;
    }

    .Select-menu-outer {
      border-top: none;
      overflow: hidden;
      z-index: 3;
      display: table;
      width: 100%;
    }

    .Select-placeholder {
      font-weight: bold;
    }

    .Select-value {
      padding: 0 $boxPadding;
    }

    .Select-arrow {
      display: table;
      margin: 4px 0 0 4px;
    }

    .Select-arrow, .Select-arrow-zone:hover .Select-arrow {
      border-top-color: $brand-primary;
    }

    .Select-placeholder, .Select-option {
      color: $text-color;
    }

    .Select-option {
      padding-top: 7px;
      padding-bottom: 7px;
    }

    .Select-clear {
      line-height: inherit;
      font-size: $fontSizeBase;
      color: $brand-primary;
    }

    .Select-option:nth-child(even) {
      background-color: transparent;
    }

    .Select-option:nth-child(odd) {
      background-color: $bg-color-dark;
    }

    .Select-option.is-focused {
      background-color: $brand-primary;
      color: $brand-primary-contrast;
    }
  }
}

:global {
  .is-open > .Select-control {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  .is-open .Select-arrow, .is-open .Select-arrow-zone:hover .Select-arrow {
    border-color: transparent transparent $brand-primary transparent !important;
    border-width: 0 5px 5px 5px !important;
    margin-top: 0 !important;
  }

  .Select--single > .Select-control .Select-value {
    // FIXME: dirty fix for large selection overlapping with (x)
    padding-right: 40px !important;
  }

  .Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: $inputHeight - 2px;
  }

  .Select--multi .Select-value {
    padding: 0;
    border-color: darken($brand-primary, 12%);
    border-radius: $borderRadius - 2px;
    background-color: $brand-primary;
    color: $brand-primary-contrast;
  }
}
