@import 'variables';

.holdingList {
  table {
    border: none;
    font-weight: 300;
    margin: 0;
  }

  table > tbody:nth-of-type(odd) {
    background: $bg-color-dark;
  }

  table > tbody + tbody {
    border-top-width: 0;
  }

  table > tbody > tr > td,
  table > tfoot > tr > td {
    padding: $boxMargin;
  }

  table > thead > tr > th {
    padding: $boxPadding $boxMargin;
  }

  table > tfoot > tr > td {
    border-right: none;
    border-left: none;
  }

  table > tbody > tr > td,
  table > tfoot > tr > td,
  table > thead > tr > th {
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  }

  &.compact {
    table > tbody > tr > td,
    table > tfoot > tr > td {
      padding-top: $boxPadding;
      padding-bottom: $boxPadding;
    }
  }
}

.allocated {
  text-align: center;
}

.value {
  text-align: right;
}
