@import 'mixins';
@import 'variables';

.selectorWrapper {
  line-height: 0;
  margin-bottom: $boxPaddingMedium;
}

.sidebar {
  @include media('>=sm') {
    margin-right: -1px;
    padding-right: 0;
  }
}

.graph {
  margin-top: $boxPadding;
}

.graphInner {
  position: relative;
}

.item {
  padding: 14px 15px 14px 32px;
}

.select {
  padding-bottom: 15px;
  text-align: center;
}

.notification {
  margin-bottom: $boxPaddingMedium;
}
