@import 'variables';

.table {
  margin-top: $boxMargin;
  margin-bottom: $boxMarginSmall;
}

.name {
  width: 23%;
}

.accountType {
  width: 21%;
}

.startDate {
  width: 21%;
}

.amount {
  width: 21%;
}

.edit {
  width: 6%;
}

.delete {
  width: 6%;
}
