@import 'variables';

.fieldError {
  margin-top: $boxMarginSmall;
  font-size: $fontSizeSmall;
  color: $text-light-color;
}

[class*='form-group'] {
  .fieldError:last-child {
    margin-bottom: 0;
  }
}
