@import 'variables';

.dropzoneWrapper {
  &.hasFile {
    display: flex;
    width: 100%;
  }
}


.action {
  display: flex;
  margin-left: $boxPaddingMedium;
  button {
    padding-left: $boxPaddingMedium;
    padding-right: $boxPaddingMedium;
  }
}
