@import 'variables';

.table {
  margin-top: $boxMargin;
  margin-bottom: $boxMarginExtra;
}

.checkboxCol {
  width: 5%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  vertical-align: middle !important;
  text-align: center;

  :global {
    .checkbox {
      margin: 0;
    }
  }
}

.goal {
  width: 53%;
}

.annualContribution {
  width: 21%;
}

.currentBalance {
  width: 18%;
}
