@import 'mixins';
@import 'variables';

:global {
  .contentPanePanel {
    margin: 0;
    border: none !important;
    @include border-radius(0);
    @include box-shadow-custom(none);

    > .panel-heading {
      padding: $boxMargin;
      @include border-radius(0);
      background-color: $bg-color-dark !important;
    }

    .panel-body {
      padding: 0;
    }
  }
}
