@import 'variables';

.selector {
  display: inline-block;
  padding: 2px;
  border: 1px solid $border-color;
  border-radius: $borderRadius;
  margin: 0;
}

.option {
  float: left;
  overflow: hidden;
  border: 1px solid $brand-primary-contrast;
}

.optionButton {
  height: 26px;
  line-height: 26px;
  padding: 0 $boxPadding;
  color: $text-dark-color;
  outline: 0;
  border: 0;
  border-radius: $borderRadius;
  &:hover, &:focus {
    text-decoration: none;
  }
}

.optionButtonActive {
  background: $brand-primary;
  color: $brand-primary-contrast;
  &:hover, &:focus {
    background: $brand-primary;
    color: $brand-primary-contrast;
  }
}
