@import 'variables';

.accountBeneficiaries {
  :global(.modal-dialog) {
    width: 700px;
  }
}

.formGroup {
  margin-bottom: $boxMarginSmall !important;
}

.addButtonRow {
  margin-top: $boxMarginSmall;
  line-height: 36px;
}

.errors {
  margin-top: $boxMargin;
}
