@import 'variables';

.inlineList {
  display: table;
}

.row {
  display: table-row;
}

.item {
  display: table-cell;

  &:not(:first-child) {
    padding-left: $boxMarginSmall / 2;
  }

  &:not(:last-child) {
    padding-right: $boxMarginSmall / 2;
  }
}


.doubleMargin .item {
  &:not(:first-child) {
    padding-left: $boxMargin / 2;
  }

  &:not(:last-child) {
    padding-right: $boxMargin / 2;
  }
}
