@import 'variables';

$pieChartSize: 30px;

.row {
  padding-bottom: $boxMargin / 2;
}

.label {
  line-height: $pieChartSize;
}
.pieChartWrapper {
  display: inline-block;
  margin-right: $boxMargin;
  width: $pieChartSize;
  vertical-align: middle;
}
