@import 'mixins';
@import 'variables';

$descriptionHeight:   100px;
.wrapper {
  display: flex;
  align-items: stretch;
  margin: 0;
  border: 2px solid $border-color;
  @include border-radius($borderRadius);
  overflow: hidden;
}

.description {
  height: $descriptionHeight;
  overflow: auto;
}

.hr {
  border-color: $border-color;
  border-width: 2px;
}
