@import 'mixins';
@import 'variables';

.progressSaved {
  height: 100%;
}

.wrapper {
  display: flex;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  max-width: 520px;
  margin: 0 auto;
}

.wrapperInner {
  align-self: center;
  text-align: center;
}

.title {
  font-size: 36px;
  color: $text-dark-color;
  margin-bottom: $boxMargin;
}

.description {
  p {
    font-size: $fontSizeLarge;
    margin-bottom: $boxMargin;
  }
}
