@import 'variables';

.well {
  box-shadow: none;
  border-width: 0;
  border-radius: $borderRadius;
  padding: $boxPadding;
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }
}

.none {
  background: none;
}

.default {
  background: $bg-color-dark;
}

.white {
  background: $bg-color;
}

.success {
  background: $brand-success-light;
  .info {
    color: $brand-success;
    border-color: $brand-success;
  }
}

.danger {
  background: $brand-danger-light;
  .info {
    color: $brand-danger;
    border-color: $brand-danger;
  }
}

.well.noMargin {
  margin-bottom: 0;
}

.title {
  color: $text-color;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.tooltipWrapper {
  position: absolute;
  top: 13px;
  right: 15px;
}

.tooltip {
  color: $text-color;
}
