@import 'mixins';
@import 'variables';

.option {
  padding: 0px 0px $boxPadding $boxPaddingMedium;
  cursor: pointer;
  position: relative;
  @include transition(all .1s);
  line-height: 11px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.lstyle {
  font-size: $fontSizeSmall;
}

.checkmark {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  @include vcenter;
  right: $boxPaddingMedium;
  text-align: center;
  display: block;
  background-color: $brand-primary-contrast;
  border: 2px solid $brand-primary;
  color: $brand-primary !important;
  svg {
    vertical-align: baseline !important;
  }
}
