@import 'mixins';
@import 'variables';

$checkmark-size: 20px;
.checkbox {
  label, &.inline {
    color: $brand-primary;
    vertical-align: top;
    &:active .checkboxInner {
      @include active-box-shadow;
    }
  }
  label {
    padding-left: $checkmark-size + 7px;
  }
  &.inline {
    height: $checkmark-size;
  }
  input {
    visibility: hidden;
  }
  &.disabled {
    .checkboxInner {
      background-color: $bg-color-dark;
      opacity: .3;
      @include box-shadow-custom(none !important);
    }
  }
}

.checkboxInner {
  width: $checkmark-size;
  height: $checkmark-size;
  position: absolute;
  left: 0;
  top: 0;
  font-size: $fontSizeBase;
  border: 2px solid $brand-primary;
  text-align: center;
  border-radius: $borderRadius;
}

.checkIcon {
  vertical-align: baseline !important;
}
