@import 'mixins';
@import 'variables';

.mainFrame {
  border: 1px solid $border-color;
  box-sizing: content-box;
  &.rounded {
    border-radius: $borderRadius;
  }
}

.mainFrameRow {
  display: flex;
  box-sizing: border-box;

  > [class*="col-"] + [class*="col-"] {
    padding-left: 0;
  }
}
