@import 'variables';
@import 'mixins';

.sidebar {
  z-index: 10;
}

.sidebarInner {
  height: 100%;
}

.shadow {
  position: absolute;
  left: 0;
  right: -$boxPaddingMedium;
  top: 0;
  bottom: 0;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    left: $boxPaddingMedium;
    right: $boxPaddingMedium;
    top: 0;
    bottom: 0;
    @include box-shadow-custom(1px 0 10px rgba(0, 0, 0, .2));
  }
}

.panel {
  z-index: 1;
  position: relative;
  margin: 0;
  border: none !important;
  @include border-radius(0);
  align-self: stretch;
  @include box-shadow-custom(none);

  .panelHeading {
    padding: $boxMargin;
    background-color: $bg-color-dark !important;
  }
  :global {
    .panel-heading {
      padding: 0;
      @include border-radius(0);
    }
  }

  :global .panel-body {
    padding: $boxMargin;
  }
}

.rounded {
  .sidebarInner, .shadow:before {
    border-top-left-radius: $borderRadius;
    border-bottom-left-radius: $borderRadius;
    overflow: hidden;
  }
}
