@import 'variables';

.buttonGroup {
  :global .btn {
    color: $brand-primary;
  }

  :global .active {
    color: $brand-primary-contrast !important;
    background-color: $brand-primary !important;
  }
}
