@import 'variables';

.editIcon {
  margin-left: 4px;
  color: $brand-primary;
  opacity: 0;
  transition: opacity(.1s);
}

.text {
  cursor: pointer;
  vertical-align: middle;
  &:hover .editIcon {
    opacity: 1;
  }
}
