@import 'variables';

.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: $boxMargin;
}
.sidebar {
  float: none;
  text-align: center;
  color: $brand-primary;
}
.formContent {
  float: none;
}
