@import 'mixins';
@import 'variables';

$pieChartSize: 30px;

.expandable {
  cursor: pointer;
  @include transition(background-color .1s);
  &:hover, &.active {
    background-color: $bg-color-dark !important;
  }
}

.itemBullet {
  display: inline-block;
  margin-left: -5px;
  color: $brand-primary;
  @include transition(transform .1s);
}

.active .itemBullet {
  @include transform(rotate(90deg));
}

.allocated {
  position: relative;
  padding-left: $boxMargin !important;
  padding-right: $boxMargin !important;
}

.pieChartWrapper > svg {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: $pieChartSize;
  width: $pieChartSize;
}

.allocatedText {
  padding-left: $pieChartSize + 10px;
}

.compact .allocated {
  padding-left: $boxMarginLarge !important;
  padding-right: $boxMarginLarge !important;
}

.value {
  text-align: right;
}
