@import 'variables';

.assets {
  margin-bottom: $boxMarginExtra;
}

.table {
  margin-top: $boxMargin;
  margin-bottom: $boxMarginSmall;
}

.name {
  width: 31%;
}

.accountType {
  width: 29%;
}

.currentValue {
  width: 28%;
}

.edit {
  width: 6%;
}

.delete {
  width: 6%;
}
