@import 'mixins';
@import 'variables';

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebarTitle {
  font-size: $fontSizeLarge;
  margin: 0 0 $boxMargin 0;
}

.sidebarContent {
  flex: 1;
}

.sidebarBottom {
  text-align: right;
}
