@import 'mixins';
@import 'variables';

.taxTranscriptWrapper {
  &.hasFile {
    display: flex;
    width: 100%;
    .dropzone {
      display: flex;
      flex: 1;
    }
  }
}

.action {
  display: flex;
  margin-left: $boxPaddingMedium;
  button {
    padding-left: $boxPaddingMedium;
    padding-right: $boxPaddingMedium;
  }
}

.submitWrapper {
  margin-top: $boxMarginLarge;
  border-top: 2px solid $border-color;
  padding-top: $boxMargin;
  text-align: right;
}
