@import 'variables';

$comparisonInputWrapperWidth: 90px;

.form {
  :global(.form-group) {
    margin-bottom: $boxMarginSmall;
  }
}

.featureRow {
  width: 100%;
  &, > div:first-of-type, > div:first-of-type > div:first-of-type {
    width: 100%;
  }
}

.comparisonSelect {
  width: calc(100% - #{$comparisonInputWrapperWidth} - #{$boxMarginSmall});
  margin-right: $boxMarginSmall;
}

.comparisonInputWrapper {
  width: $comparisonInputWrapperWidth !important;
}

.btnDelete {
  padding: 5px 10px !important;
  border-width: 1px !important;
}

.sliderWrapper {
  margin-top: - $boxMarginSmall;
}
