@import 'variables';
@import 'mixins';

.modal {
  max-width: 400px;
}

.itemWrapper {
  margin: 0 -$boxPadding;
}

.item {
  padding: 0 $boxPadding;
  margin-bottom: $boxMargin;
}

.button {
  background-image: linear-gradient(-180deg, $gray-0 0%, $gray-50 100%);
  background-size: contain;
  display: block;
  background-position: center center;
  border: 1px solid $border-color;
  border-radius: $borderRadius;
  box-sizing: border-box;
  color: $text-color;
  height: 72px;
  position: relative;
  &:not([disabled]){
    &:hover, &:focus {
      border-color: $gray-100;
    }
    &:active {
      background-image: linear-gradient(0deg, $gray-0 0%, $gray-50 100%);
    }
  }
  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }
}

.button img {
  display: block;
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  @include vhcenter;
}
