@import 'mixins';
@import 'variables';

$margin-small:  5px;

.panel {
  :global(.panel-body) {
    padding-top: $boxMarginExtra;
  }
}

.pageTitle {
  font-size: $fontSizeLarge;
  line-height: $inputHeight;
  margin: 0;
  color: $brand-primary;
}

.formGroup {
  margin-bottom: $margin-small * 2;
  margin-left: -$margin-small !important;
  margin-right: -$margin-small !important;
  :global {
    [class*='col-'] {
      padding-left: $margin-small !important;
      padding-right: $margin-small !important;
    }
    .row {
      margin-left: -$margin-small !important;
      margin-right: -$margin-small !important;
    }
  }
}

.leftCol {
  padding: 0 $boxMargin;
  @include media('>=md') {
    border-right: 1px solid $border_color;
    margin-right: -1px;
    width: 50%;
    float: left;
  }
}

.rightCol {
  padding: 0 $boxMargin;
  @include media('>=md') {
    border-left: 1px solid $border_color;
    width: 50%;
    float: left;
  }
}

.modalLink {
  padding-left: $boxPadding;
}

.notificationWrapper {
  margin-bottom: $boxMargin;
}
