@import 'variables';

.holdingsWrapper {
  margin: $boxMargin 0;
}

.pieChart :global(.well) {
  margin-bottom: 0;
  min-height: 76px;
}

.holdingList {
  min-height: 76px;
  max-height: 265px;
  overflow: auto;
  border: 1px solid $border-color;
  border-radius: $borderRadius;
}
