@import 'mixins';
@import 'variables';

.wrapper {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.pieChartWrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;

  :global {
    .nvd3 text {
      font-family: inherit;
      font-size: $fontSizeSmall;
      font-weight: 700;
      fill: $gray-0 !important;
      text-shadow: 0 1px 1px rgba(0,0,0,.7);
    }
    .nvd3.nv-pie path {
      fill-opacity: 1;
    }
  }
  &.dragging {
    svg, .handle {
      cursor: move;
    }
    .rcForm {
      user-select: none;
    }
  }
}

.spinnerWrapper {
  @include vhcenter;
}

.labelValue {
  font-weight: 500 !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .7) !important;
}

.tooltipRow {
  font-size: 12px;
}

.tooltipLabel {
  margin-right: $boxPadding / 2 !important;
}

.tooltipValue {
  font-weight: 700;
}

.handlesWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
}

.handle,
.handlePartner {
  color: $brand-primary;
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
}

.handlePartner {
  color: $brand-danger;
}

.rcForm {
  position: absolute;
  transform: translate(-50%, -100%);
  width: 175px;
  padding: $boxPadding;
  background-color: rgba(255, 255, 255, .95);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: $borderRadius;
  text-align: left;
  z-index: 999;

  &:before {
    content: '';
    top: 100%;
    @include hcenter;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: rgba(255, 255, 255, .95) transparent transparent transparent;
  }

  :global {
    .control-label {
      margin-bottom: $boxPadding / 2;
      color: $text-light-color;
    }
    .form-group {
      margin-bottom: $boxPadding;
    }
    .form-control-static {
      font-weight: 700;
      font-size: $fontSizeSmall;
      padding: 0;
      min-height: 0;
    }
  }
}
