@import 'variables';

$handleSize: 17px;
$barHeight: 4px;
$boundHeight: 24px;
$boundWidth: 4px;

.slider {
  position: relative;
  margin-top: 27px;
}

.rcSlider {
  height: $barHeight;
  box-sizing: border-box;
  cursor: pointer;
  background-color: $border-color;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  :global .rc-slider-track {
    position: absolute;
    z-index: 1;
    left: 0;
    height: $barHeight;
    background-color: $brand-primary;
  }

  :global .rc-slider-dot {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 1%;
    height: $barHeight;
    background: $blue;
  }
}

.handle {
  position: absolute;
  z-index: 1;
  margin-left: - ($handleSize / 2);
  margin-top: round(($barHeight - $handleSize) / 2);
  width: $handleSize;
  height: $handleSize;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid $brand-primary;
  background-color: $brand-primary-contrast;
}

.handleValue {
  position: absolute;
  z-index: 1;
  top: - ($handleSize + 4px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: $brand-primary;
}

.labels {
  padding-top: 5px;
  font-size: 12px;
}

.labelMin {
  float: left;
}

.labelMax {
  float: right;
}

.label {
  text-align: center;
}

.bound {
  position: absolute;
  top: - ($boundHeight / 2) + ($barHeight / 2);
  margin-left: - $boundWidth / 2;
  width: $boundWidth;
  height: $boundHeight;
  background-color: rgba($brand-danger, 0.75);
}
