@import 'mixins';
@import 'variables';

.wrapper {
  display: flex;
  align-items: stretch;
  margin: 0;
  border: 2px solid $border-color;
  @include border-radius($borderRadius);
  overflow: hidden;
}

.content {
  padding: 45px;
  background-color: $bg-color;
}

.description {
  background-color: $bg-color-dark;
  padding: 15px;
  @include border-radius($borderRadius);
}

.hr {
  border-color: $border-color;
  border-width: 2px;
}

.name {
  font-weight: bold;
}

.notes {
  padding: $boxMarginSmall;
  background-color: rgba(0, 0, 0, .03);
  border-radius: $borderRadius;
  text-align: center;
}

.select_button {
  margin-top: 150px;
  text-align: center;
}

.text_center {
  text-align: center;
}
